.memoryTape {
  display: flex;
}

.tapeElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-size: 20px;
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  background: white;
  color: black;
  &:first-of-type {
    border-left: 2px solid black;
  }
  &:last-of-type {
    border-right: 2px solid black;
  }
  &Starting {
    color: white;
    background: blue;
  }
  &Current {
    background: green;
  }
}
